<section class="container">
	<section class="span-18" id="codigos">
		<h1>Listado de códigos</h1>

		<ul>
			<% @codigos.each do |codigo| %>
			<li>
				<section class="titulo">
					<h3><%= link_to codigo.titulo, mostrar_codigo_path(codigo.id, codigo.slug) %></h3>
				</section>
				<section class="descripcion">
					<%= codigo.descripcion %>
				</section>
				<section class="datos">
					<ul>
						<li>
							Subido por: <%= codigo.usuario.login unless codigo.usuario.nil? %>
						</li>
						<li>
							<%= codigo.mostrar_fecha %>
						</li>
					</ul>
				</section>
				<section class="estadisticas">
					<ul>
						<li>
							Vistas: <%= codigo.vistas %>
						</li>
						<li>
							Descargas: <%= codigo.descargas %>
						</li>
						<li>
							Votos: <%= codigo.votos %>
						</li>
					</ul>
				</section>
				<section class="etiquetas">
					<ul>
						<% codigo.etiquetas.each do |etiqueta| %>
						<li>
							<%= link_to etiqueta.nombre, mostrar_etiqueta_path(etiqueta.id, etiqueta.slug) %>
						</li>
						<% end %>
					</ul>
				</section>
			</li>
			<% end %>
		</ul>
		
	</section>

	<section class="span-6 last">
		<script type="text/javascript"><!--
			google_ad_client = "ca-pub-5471977035368249";
			/* portalprogramadores200x200 */
			google_ad_slot = "1147122252";
			google_ad_width = 200;
			google_ad_height = 200;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
	</section>

</section>