<%= content_for :head do %>

	<meta name="description" content="<%= @pregunta.texto %>" />
<!--script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script-->

<% end %>

<%= content_for :title do %>
	<%= @pregunta.titulo %> -
<% end %>

<div class="span-19">
	<article id="pregunta">
		
		<header>
			<h2><%= @pregunta.titulo %></h2>
		</header>

		<section class="texto">
				<%= raw @pregunta.texto %>
		</section>

		<section class="datos">
			<ul>
				<li>
					Preguntado por: <%= link_to @pregunta.usuario.login, mostrar_usuario_path(@pregunta.usuario.id, @pregunta.usuario.login) unless @pregunta.usuario.nil? %>
				</li>
				<li>
					<%= @pregunta.mostrar_fecha %>
				</li>
			</ul>
		</section>

		<section class="estadisticas">
			<ul>
				<li>
					Vistas: <%= @pregunta.vistas %>
				</li>
				<li>
					Votos: <span id="votos"><%= @pregunta.votos %></span>
					<a href="#" id="lnkGusta"><%= image_tag 'me_gusta.png', :title => 'Me gusta!' %></a>
					<a href="#" id="lnkNoGusta"><%= image_tag 'no_gusta.png', :title => 'No me gusta!' %></a>
				</li>
			</ul>
		</section>

		<section class="etiquetas">
			<ul class="lista_etiquetas">
			  <% @pregunta.etiquetas.each do |etiqueta| %>
			  <li>
					<%= link_to etiqueta.nombre, mostrar_etiqueta_path(etiqueta.id, etiqueta.slug) %>
			  </li>
			  <% end %>
			</ul>
		</section>

		<section id="acciones">
			<ul>
				<li>
					<a name="fb_share" type="icon_link">Compartir</a>
				</li>
				<li>
					<a href="https://twitter.com/share" class="twitter-share-button" data-lang="es" data-count="none" data-url="<%= request.url %>">Twittear</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</li>
			</ul>
		</section>

		<% if not @mostrar_anuncios.blank? %>
		<section class="span-24">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-5471977035368249";
			/* portalprogramadores */
			google_ad_slot = "2297191548";
			google_ad_width = 728;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>			
		</section>
		<% end %>

		<section id="respuestas" class="span-19">
			<h3><%= @pregunta.respuestas.count %> respuesta(s) </h3>
			<hr/>
			<ul id="lista_respuestas">
			  <% @pregunta.respuestas.each do |respuesta| %>

			  	<li>
			  		<article class="respuesta">
			  			<section class="texto">
					  		<p>
						  		<%= respuesta.texto %>
					  		</p>
			  			</section>
			  			<section class="datos">
  							<ul>
									<li>
										Respondido por: <%= link_to respuesta.pregunta.usuario.login, mostrar_usuario_path(respuesta.pregunta.usuario.id, respuesta.pregunta.usuario.login) unless respuesta.pregunta.usuario.nil? %>
									</li>
									<li>
										<%= respuesta.mostrar_fecha %>
									</li>
									<li>
										Votos: <%= respuesta.votos %>
									</li>
								</ul>

			  			</section>
			  		</article>
			  		<hr/>
			  	</li>

			  <% end %>
			</ul>
		</section>

		<section id="responder" class="span-19">
			<form id="frmResponder">
				<input type="hidden" id="idPregunta" name="idPregunta" value="<%= @pregunta.id %>"/>
				<div>
					<label for="respuesta">Respuesta:</label>
					<textarea id="respuesta" name="respuesta" class="markitup" cols="20" rows="5"></textarea>
				</div>
				<div>
					<input type="submit" id="submit" value="Responder" />
				</div>
			</form>
		</section>

	</article>
	
</div>

<div class="span-5 last">
	<section id="etiquetas_usadas">
		<h3>Etiquetas</h3>
		<ul class="lista_etiquetas">
		  <% @pregunta.etiquetas.each do |etiqueta| %>
		  <li>
		  	<%= link_to etiqueta.nombre, mostrar_etiqueta_path(etiqueta.id, etiqueta.slug) %>
		  </li>
		  <% end %>
		</ul>
	</section>

	<section id="preguntas_relacionadas">
		<h3>Relacionadas</h3>
		<ul>
			<% @relacionadas.each do |relacionada| %>
			<li>
				<%= link_to relacionada.titulo, 
						mostrar_pregunta_path(relacionada.id, relacionada.slug) %>
			</li>
			<% end %>
		</ul>
	</section>
</div>

<div class="clear">
</div>

<script type="text/javascript">

window.onload = function() {
	$.ajax({
		url: "incrementar_vistas", 
		type: 'post',
		data: {id:<%= @pregunta.id %>}
	});
}

</script>